@media (max-width: 768px) {
    .mobileMarginTop {
        margin-top: 80px;
    }
  }
.position-relative {
    overflow: hidden;
  }
  .overlay {
    background: none; /* Ensure there's no darkening overlay */
  }