
    .bg-with-opacity {
      background-color: rgb(32,98,98,.1)
      ; /* White background with 50% opacity */
      display: inline-block; /* To fit the background closely around the text */
      padding: 10px; /* Optional: for some spacing around the text */
    }
   